[Unit]
Description=minecraft server
Wants=network.target nftables.service nginx.service
After=network.target nftables.service nginx.service

[Service]
User=minecraft
Group=minecraft
ExecStart=/usr/bin/java -Xms12G -Xmx12G -XX:+UnlockExperimentalVMOptions -XX:+UseZGC -XX:+ZGenerational -jar server.jar --nogui
Restart=always
WorkingDirectory=/var/minecraft

[Install]
WantedBy=multi-user.target
